{% load static %}
<html>
    <head>
        <title>TEST</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">홍*동님의 학습 보고서</a></h1>
        </div>

        <div class="content container">
            <div class = "row">
                <div class="col-md-8">
                    <a href ="week.html" ><h2>주간 학습보고서</h2></a>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <a href ="month.html" ><h2>월간 학습보고서</h2></a>
                
                </div>
            </div>
        </div>
</html>