{% load static %}
<html>
    <head>
        <title>TEST</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">홍*동님의 월간 학습 보고서</a></h1>
        </div>

        <div class="content container">
            <h2>주간 통계</h2>
            <div class="row">
                <div class="col-md-8">
                {% block tables %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="left-box">
                <div class="col-md-8">
                <h2>순공부량</h2>
                <div><img src="/static/img/Study.png" width="500"></div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="right-box">
                <div class="col-md-8">
                <h2>집중력</h2>
                <div><img src="/static/img/Focus.png" width="500"></div>
                
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                <h2>주간 패턴</h2>
                <div><img src="/static/img/weekpattern.png" width="500"></div>
                
                </div>
            </div>
        </div>
    </body>
</html>